flows/Add_Lookup_to_Tagging-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Lookup_Value</name>
        <label>Add Lookup Value</label>
        <locationX>721</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>TaggingRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaggingRecord.Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTagging</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Route_Action_by_sObject_Type</name>
        <label>Route Action by sObject Type</label>
        <locationX>224</locationX>
        <locationY>101</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tagging_Record</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <interviewLabel>Add Lookup to Tagging {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Add Lookup to Tagging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tagging_Record</name>
        <label>Get Tagging Record</label>
        <locationX>380</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Lookup_Value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaggingId</elementReference>
            </value>
        </filters>
        <object>Tagging__c</object>
        <outputReference>TaggingRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Record_Id__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>sObject_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTagging</name>
        <label>Update Tagging</label>
        <locationX>1101</locationX>
        <locationY>316</locationY>
        <inputReference>TaggingRecord</inputReference>
    </recordUpdates>
    <startElementReference>Route_Action_by_sObject_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaggingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaggingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Tagging__c</objectType>
    </variables>
</Flow>
